<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="robotrainer2" >

  <!-- common stuff -->
  <xacro:include filename="$(find cob_description)/urdf/common.xacro" />
  <xacro:include filename="$(find cob_description)/urdf/materials.urdf.xacro" />

  <!-- calibration -->
  <xacro:include filename="$(find cob_hardware_config)/robots/robotrainer2/urdf/properties.urdf.xacro" />

  <!-- base -->
  <xacro:include filename="$(find cob_description)/urdf/robotrainer2/base.urdf.xacro" />

  <!-- sensors -->
  <xacro:include filename="$(find cob_description)/urdf/sensors/sick_s300_laser.urdf.xacro"/>


  <!-- composition of the robot -->
  <xacro:base name="base"/>
  <!-- laser scanners -->
  <xacro:sick_s300_laser_v0 name="base_laser_left" parent="base">
    <origin xyz="${laser_left_x} ${laser_left_y} ${laser_left_z}" rpy="${laser_left_roll} ${laser_left_pitch} ${laser_left_yaw}" />
  </xacro:sick_s300_laser_v0>
  <xacro:sick_s300_laser_v0 name="base_laser_right" parent="base">
    <origin xyz="${laser_right_x} ${laser_right_y} ${laser_right_z}" rpy="${laser_right_roll} ${laser_right_pitch} ${laser_right_yaw}" />
  </xacro:sick_s300_laser_v0>
  <xacro:sick_s300_laser_v0 name="base_laser_back" parent="base">
    <origin xyz="${laser_back_x} ${laser_back_y} ${laser_back_z}" rpy="${laser_back_roll} ${laser_back_pitch} ${laser_back_yaw}" />
  </xacro:sick_s300_laser_v0>


  <xacro:include filename="$(find sr2_bringup)/urdf/components/mini58.urdf.xacro" />

  <xacro:ati_mini58 name="fts" parent="base_link">
    <origin xyz="-0.069992 0  0.579028" rpy="0 0 ${pi}" />
  </xacro:ati_mini58>

  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>
  <material name="green">
    <color rgba="0 1 0 1"/>
  </material>
  <material name="blue">
    <color rgba="0 0 1 1"/>
  </material>

  <!-- RoboTrainer Marker Joints -->
  <joint name="robotrainer_front_marker_joint" type="fixed">
    <origin xyz="${0.41+0.84} 0 0.01" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="robotrainer_front_marker" />
  </joint>
  <link name="robotrainer_front_marker">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.01"/>
      </geometry>
      <material name="green"/>
    </visual>
  </link>
  <joint name="robotrainer_left_marker_joint" type="fixed">
    <origin xyz="0.2 0.49 0.01" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="robotrainer_left_marker" />
  </joint>
  <link name="robotrainer_left_marker">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.01"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>
  <joint name="robotrainer_right_marker_joint" type="fixed">
    <origin xyz="0.2 -0.49 0.01" rpy="0 0 ${pi}" />
    <parent link="base_link"/>
    <child link="robotrainer_right_marker" />
  </joint>
  <link name="robotrainer_right_marker">
    <visual>
      <geometry>
        <cylinder length="0.02" radius="0.01"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
  

  <!-- RoboTrainer Cameras -->
  <joint name="robotrainer_baseplate_link_lower_legs_camera_holder_bottom" type="fixed">
    <origin xyz="0.03 0 0.452" rpy="0 0 ${pi}" /> <!--+1 cm-->
    <parent link="base_baseplate_link"/>
    <child link="lower_legs_camera_holder_bottom" />
  </joint>
  <link name="lower_legs_camera_holder_bottom"/>
  
  <joint name="robotrainer_lower_legs_camera_holder_bottom_camera_fixture" type="fixed">
    <origin xyz="0.02266 0 0.04557" rpy="0 ${50/180*pi} 0" />
    <parent link="lower_legs_camera_holder_bottom"/>
    <child link="lower_legs_camera_fixture" />
  </joint>
  <link name="lower_legs_camera_fixture"/>
  
  <joint name="robotrainer_lower_legs_camera_fixture_camera_link" type="fixed">
    <origin xyz="0.06 0 0" rpy="0 0 0" />
    <parent link="lower_legs_camera_fixture"/>
    <child link="lower_legs_camera_link" />
  </joint>
  <link name="lower_legs_camera_link"/>
  
  <joint name="robotrainer_baseplate_link_upper_body_camera_holder_bottom" type="fixed">
    <origin xyz="0.03 0 0.672" rpy="0 0 0" />
    <parent link="base_baseplate_link"/>
    <child link="upper_body_camera_holder_bottom" />
  </joint>
  <link name="upper_body_camera_holder_bottom"/>
  
  <joint name="robotrainer_upper_body_camera_holder_bottom_camera_fixture" type="fixed">
    <origin xyz="0.2265 0 0.204461" rpy="0 ${-7.5/180*pi} ${pi}" />
    <parent link="upper_body_camera_holder_bottom"/>
    <child link="upper_body_camera_fixture" />
  </joint>
  <link name="upper_body_camera_fixture"/>
  
  <joint name="robotrainer_upper_body_camera_fixture_camera_link" type="fixed">
    <origin xyz="0.06 0 0" rpy="0 0 0" />
    <parent link="upper_body_camera_fixture"/>
    <child link="upper_body_camera_link" />
  </joint>
  <link name="upper_body_camera_link"/>
  
  
  
<!--  <joint name="robotrainer_lower_legs_camera" type="fixed">
    <origin xyz="0 0 0.76" rpy="0 ${38/180*pi} ${pi}" />
    <parent link="base_link"/>
    <child link="lower_legs_camera_link" />
  </joint>
  <link name="lower_legs_camera_link"/>
  
    <joint name="robotrainer_upper_body_camera" type="fixed">
    <origin xyz="0 0 1.2" rpy="0 0 ${pi}" />
    <parent link="base_link"/>
    <child link="upper_body_camera_link" />
  </joint>
  <link name="upper_body_camera_link"/>-->

</robot>
